#version: "3"

services:
    attacker:
        image: fabianastudillo/ubuntu-ser:latest
        container_name: seed-attacker
        hostname: attacker
        tty: true
        cap_add:
                - ALL
        privileged: true
        volumes:
                - ./volumes:/volumes
        network_mode: host


    Victim:
        image: fabianastudillo/ubuntu-ser:latest
        container_name: victim-10.9.0.5
        hostname: victim
        tty: true
        cap_add:
                - ALL
        privileged: true
        sysctls:
                - net.ipv4.tcp_syncookies=0

        networks:
            net-ser:
                ipv4_address: 10.9.0.5

#        command: bash -c "
#                      /etc/init.d/openbsd-inetd start  &&
#                      tail -f /dev/null
#                 "
                  
    User1:
        image: fabianastudillo/ubuntu-ser:latest
        container_name: user1-10.9.0.6
        hostname: user1
        tty: true
        cap_add:
                - ALL
        networks:
            net-ser:
                ipv4_address: 10.9.0.6

#        command: bash -c "
#                      /etc/init.d/openbsd-inetd start  &&
#                      tail -f /dev/null
#                 "

    User2:
        image: fabianastudillo/ubuntu-ser:latest
        container_name: user2-10.9.0.7
        hostname: user2
        tty: true
        cap_add:
                - ALL
        networks:
            net-ser:
                ipv4_address: 10.9.0.7

#        command: bash -c "
#                      /etc/init.d/openbsd-inetd start  &&
#                      tail -f /dev/null
#                 "

networks:
  net-ser:
    external: true
    name: net-ser # name of the created bridge

#networks:
#    net-10.9.0.0:
#        name: net-10.9.0.0
#        ipam:
#            config:
#                - subnet: 10.9.0.0/24

